<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ title }}</h4>
            <div class="basic-form">
                <div class="form-group">
                    <label class="radio-inline mr-3">
                        <input type="radio" name="{{ id }}-yes" > Yes</label>
                    <label class="radio-inline mr-3">
                        <input type="radio" name="{{ id }}-no" > No</label>
                </div>
            </div>
        </div>
    </div>
</div>
