{% extends "layouts/layout.html" %}

{% block content %}
<div id="main-wrapper">

    <div class="content-body">
        <div class="card">

            <div class="card-title " style="text-align: center;">
                <br>
                <br><br>
                <br>
                <h3>Questions</h3>
                <br>
            </div>
            <form method="post" action="{{ url_for('submit') }}">
                <div class="row">

                    {% for item in questions %}
                        {% with title = item.question_content, id = item.id %}
                            {% include 'components/question.html' %}
                        {% endwith %}
                    {% endfor %}

                </div>

                <div class="d-grid">
                    <div style="text-align: center;">
                        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                    </div>
                </div>
            </form>


        </div>

        <!-- #/ container -->
    </div>


</div>
{% endblock %}